---
layout: default
---


<div class="content">

    <p>Published: {{ page.date | date: "%F" }} {% if page.author %} by {{ page.author }} {% endif %}</p>
    
<div class="tags">
    Tags:&nbsp;
    {% for tag in page.tags %}
    <a href="{{site.baseurl}}/tags/#{{tag|slugize}}"><span class="tag is-primary">{{ tag }}</span></a>&nbsp;
    {% endfor %}
</div>

    {{ content }}
</div>

<div class="">
    {% assign asd = content | extract_external_href | group_by:"url"%}  


    <b>Links in this post:</b>
    <ul>
    {%for group in asd %}
    <li><a href="{{group.items[0].url}}">{{group.items[0].text}}</a></li>
    {% endfor %}
    </ul>
</div>


{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}